rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Users can upload and read their own trade images
    match /trades1/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Users can upload and read their own profile images
    match /profiles/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
